<h1 class="user-show-header">
  <%= @user.first_name %> 's upcoming trips:
</h1>


<div class="user-show-box">
  <% if logged_in? && @users.include?(current_user.id) %>
  <ul>
      <% @itineraries.each do |trip| %>
    <dt>
      <h2 class="trip-name">
        <%= trip.name %>
      </h2>
      at:
      <strong class='location'><%= trip.concert.venue %> - <%= trip.concert.location %></strong>
      <p>Hotel:</p>
        <%= trip.hotel %>
      <p>Flight Info:</p>
        <%= trip.flight_info %>
      <p>Arrival Date:</p>
        <%= pretty_date(trip.arrival_date) %>
      <p>Return Date:</p>
        <%= pretty_date(trip.return_date) %>
      <p><%= button_to "Edit Trip", "/itineraries/#{trip.id}" %></p>
      <p><%= button_to "Delete Trip", @itinerary, method: :delete, params: {trip: trip.id} %></p>
    </dt>

      <% end %>
  </ul>
  <% end %>
</div>
