
<div>
  <%= render partial: 'details' %>
</div>


<div class="concert-deetz">
  <ul>
   <dt>Location: <%= @concert.location %></dt><br>
   <dt>Date: <%= set_date(@concert.date) %></dt><br>
   <dt>Time: <%= set_time(@concert.start_time) %></dt><br>
  </ul>
</div>


<h2 class="attendee-header">Who is all going?</h2>

<div class="attendee-list">
  <ul>
    <dt><%= render partial: 'attendee', collection: @concert.attendees %></dt>
  </ul>
</div>

<div class="add-attendee">
  <% if logged_in? && !@concert.grab_ids.include?(current_user.id) %>
      <%= form_tag [@concert, @attendance], url: concert_attendances_path(@concert),  method: 'POST', id: "attendee-form" do |t| %>
        <%= submit_tag "I'll be there!" %>
    <% end  %>
  <% end %>
</div>

<h1 class="itinerary-new-header">Going? Make it offical!: </h1>

<div class="add-itinerary">
  <p><%= link_to "Add Trip", new_concert_itinerary_path(@concert) %></p>
</div>


<div class="songs">
  <% @songs.each do |song| %>
    <dt><%= song %></dt>
  <% end %>
</div>