<!DOCTYPE html>
<html>
  <head>
    <title>ShowTrips</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Lato|Lobster|Open+Sans|Oswald|Permanent+Marker" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>

  <nav class="login-bar">
    <% if current_user %>
       Signed in as <%= current_user.first_name %> | <%= link_to "Logout", logout_path %>
     <% else %>
       <%= link_to 'Login', login_path %> | <%= link_to 'Signup', new_user_path %>
    <% end %>
  </nav>

    <div class="top-nav">

        <nav class="main-nav">
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Your Trips", user_path(current_user) %></li>
          </ul>
        </nav>

        <nav class="category">
          <ul>
           <li>Contact the Developer:</li>
            <li><a href="https://twitter.com/mitchell_sean35">Twitter</a></li>
           | <li><a href="https://www.linkedin.com/in/mitch-mele-823643b5/"> Linkedin</a></li>
           | <li><a href="https://github.com/msmele345">Github</a></li>
          </ul>
        </nav>
    </div>
  <h1 class="layout-header">ShowTrips</h1>

    <%= yield %>
  </body>
</html>